@import "./variables.less";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/source/fonts/opensans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  src: url("/source/fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}

.advantages {
  @media (min-width: @tablet-width) {
    .advantages__title3 {
      margin: 0;
    }

    .advantages__space--none {
      display: none;
    }
  }
}

.advantages__wrapper {
  text-align: center;

  @media (min-width: @mobile-width) {
    width: 280px;
    padding: 46px 20px 70px 20px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    width: 588px;
    padding: 58px 36px 19px 36px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 740px;
    padding: 58px 230px 19px 230px;
    margin: 0 auto;
  }
}

.advantages__list--container {
  background: url("../img/img/grey-background.png") no-repeat;
  background-size: 100%;
  text-align: center;

  @media (min-width: @mobile-width) {
    width: 280px;
    padding: 100px 20px 0 20px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    width: 620px;
    padding: 100px 20px 0 20px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 880px;
    padding: 58px 160px 19px 160px;
    margin: 0 auto;
    display: flex;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
}

.advantages__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    .advantages__img {
      display: block;
      width: 165px;
      height: 295px;
      margin: 0 auto;
    }
  }

  .advantages__img--last {
    display: block;
    order: 2;

    @media (min-width: @mobile-width) {
      width: 136px;
      height: 245px;
      margin: 0 auto;
    }

    @media (min-width: @tablet-width) {
      width: 237px;
      height: 421px;
    }

    @media (min-width: @desktop-width) {
      width: 165px;
      height: 295px;
      order: 0;
    }
  }
}

.advantages__img {
  display: none;
}

.advantages__title3 {
  font-weight: 300;
  font-size: 24px;
  color: @text-color;
}

.advantages__title4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
