
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/source/fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  src: url("/source/fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}

.advantages
{
h3
{
font-weight: 300;
font-size: 24px;
color: #283645;
}
h4
{
font-weight: bold;
font-size: 18px;
line-height: 24px;
}

}

.advantages__description
{
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.advantages__list
{
  background: url('../img/img/grey-background.png') no-repeat;
}
