@import "./variables.less";
.filter
{
  background: #F2F2F2;
  padding-left: 20px;
}


.filter__post
{
&--style
{
border: 3px solid @red-color;
box-sizing: border-box;
border-radius: 30px;
color: @red-color;
border-radius: 30px;
padding-left: 21px;
padding-right: 21px;
font-weight: bold;
}
}
.filter__cancel
{
&--style
{
  opacity: 0.1;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  color: @text-color;

border-radius: 30px;
padding-left: 21px;
padding-right: 21px;
font-weight: bold;
}
}
