@import "./variables.less";

.filter {
  background: #f2f2f2;
  padding-left: 20px;
}

.button-filter {
  border: 3px solid @red-color;
  color: @red-color;
  box-sizing: border-box;
  border-radius: 30px;
  padding-left: 21px;
  padding-right: 21px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.button-filter--gray {
  opacity: 0.1;
  color: @text-color;
  border: 3px solid @text-color;
}
