@import "./variables.less";

.filter {
  background: #f2f2f2;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .filter__img,
  .filter__block,
  .filter__position-button {
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 300px);

    .filter__img {
      grid-row: 1/3;
      height: 400px;
      width: 300px;
      padding-top: 60px;
    }

    .filter__block {
      padding-top: 60px;
      margin: 0 auto;
    }

    .filter__position-button {
      display: flex;
      flex-direction: column;
      padding-top: 60px;
      margin: 0 auto;
    }

    .button-filter {
      margin-bottom: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 400px);
      width: 800px;
      padding: 0 130px;
      margin: 0 auto;
    .filter__position-button {
      display: inline;
    }
  }
}

.button-filter {
  border: 3px solid @red-color;
  color: @red-color;
  box-sizing: border-box;
  border-radius: 30px;
  padding-left: 21px;
  padding-right: 21px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.button-filter--gray {
  opacity: 0.1;
  color: @text-color;
  border: 3px solid @text-color;
}
