@import "./variables.less";

.form__fieldset {
  border: none;
}

.button-aplly {
  width: 276px;
  height: 59px;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.benefits-form__obligatory {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: @text-color;

  .benefits-form__star {
    color: @red-color;
  }
}
