.page-header {
  background: #000000;
  background-size: 100%;
  padding-left: 20px;
}

.page-header__logo {
  .page__logo--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  .page__logo--desktop {
    @media (max-width: @tablet-width) {
      display: none;
    }
  }
}

.page-header--container {
  @media (min-width: @mobile-width) {
    padding: 20px;
  }

  @media (min-width: @tablet-width) {
    padding: 27px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 27px 130px;
  }
}
