@import "./variables.less";
.photo__title
{
  font-weight: normal;
font-size: 20px;
line-height: 30px;
color: @text-color;
}
.photo-post__description
{
  font-weight: normal;
font-size: 14px;
line-height: 24px;
color: @text-color;
}
.photo-post__name
{
  font-weight: bold;
font-size: 14px;
line-height: 24px;
color: @text-color;
}
.photo-post__time
{
font-weight: 300;
font-size: 12px;
line-height: 24px;
color: @text-color;
}
.like__description
{
  font-weight: normal;
font-size: 12px;
line-height: 24px;
color: @red-color;
}
.photo__item
{
  background: #F2F2F2;
  margin-bottom: 20px;
}
.photo__list
{
  padding: 0;
}
.photo__description
{
  font-weight: normal;
font-size: 20px;
line-height: 30px;
color: @text-color;
}
.photo
{
  padding-left: 20px;
}
