@import "./variables.less";

.price {
  background: url("../img/img/grey-background-price.png") no-repeat;
  background-size: 100%;
  display: revert;

  @media (max-width: @tablet-width) {
    text-align: center;

    .price__table {
      margin-top: -15.63em;
      margin-left: -16.63em;
    }
  }

  @media (min-width: @tablet-width) {
    .price__toggles {
      display: none;
    }

    .price__table {
      margin: 0 auto;
    }
  }
}

.price__tbody {
  @media (min-width: @mobile-width) {
    display: flex;
  }
}

.price__list {
  border-radius: 1px;

  @media (min-width: @mobile-width) {
    display: flex;
    flex-direction: column;
    width: 300px;

    .price__title {
      font-weight: 700;
      color: #ffffff;
      font-size: 16px;
      line-height: 30px;
      border: 1px solid #f2f2f2;
      background-color: #283645;
    }
  }
}

.price__number {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price__description {
  font-size: 14px;
  line-height: 30px;
  color: @text-color;
  background: #ffffff;
  border: 2px solid @white-color;
  border-radius: 1px;
}
