@import "./variables.less";

.question__title {
  font-weight: 300;
  font-size: 24px;
  color: @text-color;
}

.question__description {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @text-color;
}

.question__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @red-color;
  text-decoration: none;
}

.question {
  @media (min-width: @mobile-width) {
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    .question__list {
      display: grid;
      grid-template-columns: repeat(3, 182px);
      grid-template-rows: auto;
      justify-content: space-evenly;
    }

    .question__item--second {
      grid-column-start: 3;
    }

    .question__item--third {
      grid-column-start: 2;
    }
  }

  .question__list {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    .question__list {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.question__img {
  width: 100%;
}

.question__wrapper {
  @media (min-width: @mobile-width) {
    width: 240px;
    padding: 46px 40px 0 40px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    width: 546px;
    padding: 46px 67px 0 67px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 861px;
    padding: 30px 160px 0 160px;
    margin: 0 auto;
  }
}
