
.question__title
{
  font-weight: 300;
font-size: 24px;
color: #283645;
}
.question__description
{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #283645;
}
.question__link
{
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #D22856;
  text-decoration: none;
}
