@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/source/fonts/opensans.woff2") format("woff2");
  font-display: swap;
}

.stats {
  background: #1d2631;
  color: #ffffffff;
}

.stats__title {
  padding: 20px 30px 20px 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin: 0;
}

.stats__header {
  padding-left: 20px;
}

.stats__background {
  background: url("../img/img/back-mobile.png") no-repeat;
  height: 462px;
}

.stats__description {
  font-size: 14px;
  line-height: 24px;
}
