@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/source/fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
.stats__title
{
font-size: 24px;
line-height: 120%;
font-weight: 300;

}
.stats__description
{
  font-size: 14px;
line-height: 24px;
}
.stats__background
{
  background: url('../img/img/back-mobile.png') no-repeat;
  height: 462px;
}
